$breaks:() !global;
$gutter: 1rem;

@mixin set-breakpoints($breakpoints: ()){
	$breaks: $breakpoints !global;
}

@mixin break($break){
	@media screen and (min-width: #{map-get($breaks,$break)}){
		@content;
	}
}

@mixin row(){
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;          
}

@mixin v-center(){
	align-items: center;    
}

@mixin v-start(){
	align-items: flex-start;
}

@mixin v-end(){
	align-items: flex-end; 
}

@mixin v-stretch(){
	align-items: stretch;   
}

@mixin v-baseline(){
	align-items: baseline; 
}

@mixin h-start(){
	justify-content: flex-start;      
}

@mixin h-end(){
	justify-content: flex-end;        
}

@mixin h-between(){
	justify-content: space-between;         
}

@mixin h-around(){
	justify-content: space-around;
}
@mixin h-center(){
	justify-content: center;
}

@mixin direction-column(){
	flex-direction: column;
}

@mixin order($order){
	order: $order;
}

@mixin col($break,$width,$offset:null){
	width: 100%;
	@include break($break){
		width: #{100/12 * $width + "%"};
	}
	@if ($offset){
		@include offset($break,$offset);
	}
}

@mixin offset($break,$offset){
	margin-left: 0;
	@include break($break){
		margin-left: #{100/12 * $offset + "%"};
	}
}

@mixin allCols(){	
	$all : "";

	@for $i from 1 through 12 {
		@each $name,$break in $breaks{
			$all : $all + ".#{$name+$i},";			
		}
	}

	#{$all}{
		@content;
	}
}

@mixin defaultGrid(){
	@include row();
	&.v-center{
		@include v-center();
	}
	&.v-start{
		@include v-start();
	}
	&.v-end{
		@include v-end();
	}
	&.v-stretch{
		@include v-stretch();
	}
	&.v-baseline{
		@include v-baseline();
	}
	&.h-start{
		@include h-start();
	}
	&.h-center{
		@include h-center();
	}
	&.h-end{
		@include h-end();
	}
	&.h-between{             
		@include h-between();
	}
	&.h-around{
		@include h-around();              
	}
	&.direction-column{
		@include direction-column();
	}
	@for $i from 1 through 12 {
		.order-#{$i}{
			@include order($i);
		}
		@each $name,$break in $breaks{
			.#{$name+$i}{
				@include col($name,$i);
			}
			.offset-#{$name+$i}{
				@include offset($name,$i);
			}
		}
	}
	@include allCols(){
		min-height: 1px;         
		padding: 0 $gutter;
		box-sizing: border-box;
		&.no-gutter{
			padding: 0;
		}                     
	}
}	