$breaks:() !global;
$prefix: false;

@mixin set-breakpoints($breakpoints: ()){
	$breaks: $breakpoints !global;
}

//$break: one of the specified breaks
@mixin break($break){
	@media screen and (min-width: #{map-get($breaks,$break)}){
		@content;
	}
}

@mixin prefix($property, $value, $prefixes: ("webkit","moz","ms")) {
	@if ($prefix){
		@each $prefix in $prefixes {
			#{'-' + $prefix + '-' + $property}: $value;
		}
	}

	#{$property}: $value;
}

//$inline:  true | false (default: false)
//$align:   flex-start | flex-end | center | baseline | stretch 
//$justify: flex-start | flex-end | center | space-between | space-around 
@mixin row($inline: false,$align:null,$justify:null){
	$flex: flex;
	@if $inline{
		$flex: inline-flex;
	}
	@include prefix(display,$flex);
	@if prefix{
        display: -ms-#{$flex}box; // IE10
    }
	@include prefix(flex-flow, row wrap);
	@include prefix(box-sizing, border-box,("webkit","moz"));
    @if $align{
        @include align-items($align);
    }       
    @if $justify{
        @include justify-content($justify);
    }       
}

//$align: flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align){
	@include prefix(align-items,$align);
}

//$justify: flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify){
	@include prefix(justify-content,$justify);	
}

//$direction: row | row-reverse | column | column-reverse
@mixin flex-direction($direction){
	@include prefix(flex-direction,$direction);
}

//$wrap: nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap){
	@include prefix(flex-wrap,$wrap);
}

//$align: auto | flex-start | flex-end | center | baseline | stretch 
@mixin align-self($align){
	@include prefix(align-self,$align);
}

//$order: Integer
@mixin order($order){
	@include prefix(order,$order);
}

//$break: one of the specified breaks
//$width: 1-12
//$gutter: <empty> | px/em/rem...
//$offset: <empty> | 1-12 
@mixin col($break,$width,$gutter:null,$offset:null){
	@include flex(0 0 100%);
    @if $gutter{
	    @include prefix(box-sizing, border-box,("webkit","moz"));
        padding: 0 $gutter;
    }
	@if $offset{
		@include offset($break,$offset);
	}
	@include break($break){
        @include flex(0 0 #{100/12 * $width + "%"});
	}
}

//$flex: i.e 0 1 20rem
@mixin flex($flex){
    @include prefix(flex,$flex, ("webkit","ms","webkit-box","moz-box"));
}

//$break: one of the specified breaks
//$offset: 1-12
@mixin offset($break,$offset){
	margin-left: 0;
	@include break($break){
		margin-left: #{100/12 * $offset + "%"};
	}
}

@mixin defaultGrid{
	@include row;
	&.a-center{
		@include align-items(center);
	}
	&.a-start{
		@include align-items(flex-start);
	}
	&.a-end{
		@include align-items(flex-end);
	}
	&.a-stretch{
		@include align-items(stretch);
	}
	&.a-baseline{
		@include align-items(baseline);
	}
	&.j-center{
		@include justify-content(center);
	}
	&.j-start{
		@include justify-content(flex-start);
	}
	&.j-end{
		@include justify-content(flex-end);
	}
	&.j-between{             
		@include justify-content(space-between);
	}
	&.j-around{
		@include justify-content(space-around);              
	}
	&.direction-column{
		@include flex-direction(column);
	}
	.self-center{
		@include align-self(center);
	}
	.self-start{
		@include align-self(flex-start);
	}
	.self-end{
		@include align-self(flex-end);
	}
	.self-stretch{
		@include align-self(stretch);
	}
	.self-baseline{
		@include align-self(baseline);
	}

    [class*='col-'] {
        @include flex(0 0 100%); //default gets overwritten by the media queries
		min-height: 1px;         
		padding: 0 1rem;
		box-sizing: border-box;
		&.no-gutter{
			padding: 0;
		}                     
	}

    [class*='offset-'] {
        margin-left: 0; //default gets overwritten by the media queries
    }

    @each $name,$break in $breaks{   
         @include break($name){  
             @for $i from 1 through 12 {    
                $width: #{100/12 * $i + "%"};
		        .col-#{$name+$i}{
	                @include flex(0 0 $width);
		        }
		        .offset-#{$name+$i}{
			        margin-left: $width;
		        }
             }
         }
	}

     @for $i from 1 through 12 {
		.order-#{$i}{
			@include order($i);
		}		
	}

}	

