$col: 12;

@function columns($breakpoint, $offset){
	$retVal: "";
	@for $i from 1 through $col {
		@if $offset{
			$retVal: $retVal + ".col-offset-"+$breakpoint+""+$i+","
		} @else {
			$retVal: $retVal + ".col-"+$breakpoint+""+$i+","			
		}
	}
	@return $retVal;
}


.row{
	display: flex;
	flex-flow: row wrap;
	@for $i from 1 through $col {
		$width: 100/$col * $i + "%";
		.col-s#{$i},
		.col-m#{$i},
		.col-l#{$i} {
			padding: 1rem;
			min-height: 1px;
			flex-basis:  #{$width};
		}

		.col-offset-s#{$i},
		.col-offset-m#{$i},
		.col-offset-l#{$i} {
			margin-left: #{$width};
		}	
	}
	
	@media screen and (max-width: 480px){
		#{columns("s",false)}{
		  flex-basis: 100%;
		}
		#{columns("s",true)}{
		  margin-left: 0;
		}
	}
	@media screen and (max-width: 768px){
		#{columns("m",false)}{
		  flex-basis: 100%;
		}
		#{columns("m",true)}{
		  margin-left: 0;
		}
	}
	@media screen and (max-width: 980px){
		#{columns("l",false)}{
		  flex-basis: 100%;
		}
		#{columns("l",true)}{
		  margin-left: 0;
		}
	}
}
